.featured{
  width: 100%;
  display: flex;
  max-width: 1024px;
  gap: 20px;
  justify-content: space-between;
  z-index: 1;
}
  
.featuredItem{
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  flex:1;
  height: 250px;
}
  
.featuredImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
  
.featuredTitles{
  bottom: 20px;
  position: absolute;
  left: 20px;
}
